@page "/"

<PageTitle>Miky</PageTitle>
<div class="HomePageContainer">
    <div class="text-center">

        <h1 class="mb-4">Miky</h1>

        <h3>Úvod</h3>
        <p class="message lead">Zdravím všechny, co si tento článek čtou. Toto je individuální maturitní práce ze školního roku 2024-2025 inspirovaná různými online hry s žánrem ctf (<a href="https://en.wikipedia.org/wiki/Capture_the_flag_(cybersecurity)">capture the flag</a>). Tato práce vznikla na základě mé nerozhodnosti. Věděl jsem totiž, že jsem chtěl pokračovat v oboru IT, jen jsem nevěděl, ve kterém odvětví (nakonec jsem si vybíral mezi kybernetickou bezpečností a softwarovým inženýrstvím), proto jsem se také rozhodl po pár zkušeností z online her udělat něco podobného a vlastního. Tato práce byla vytvořena také k tomu, aby si někteří studenti zkusili, jaké to je testovat zejména webové servery. Samozřejmě přikládám všechny soubory a zdrojové kódy za účelem následného pokračování, kdyby někdo nevěděl, co udělat za individuální maturitní práci. Všechny webové stránky, které jsou použity, jsou vytvořené pomocí jazyka <a href="https://go.dev/">Go/GoLang/Google Language</a>. Na frontendu se nejvíce ztotožňuji s css frameworkem <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">Bootstrap</a>, zde je použita konkrétně verze 5.0. Chápu také, že někdo by chtěl celý frontend předělat, protože na toto nejsem moc talentovaný. Každopádně vše co vidíte je udělané od základu (from scratch).</p>
        
        <h3>O hře</h3>
        <p class="message lead">Tato hra by měla naučit základ a ukázat jak i hacker nováček dokáže se správnými nástroji pracovat a zneužívat slabiny, zároveň by také měla naučit vyhledávat na internetu a samostatnost.. samozřejmě jsou zde i nápovědy, které můžete i nemusíte využít. Začít můžete kliknutím na jednu z následujících možností s názvy kapitol, které jsou dostupné. Po chvíli se vám načte IP adresa vašeho serveru. Cílem hry je dostat ze serveru vlajku, někdy může být jako soubor na serveru, někdy může být na administrátorské stránce a je jen na vás ji získat. Jsou zde vyplňovací pole, které vás navedou na cestu jak k vlajce dojít. Jako poslední pole je vlajka a tím se zjistí zda váš útok byl dokončen nebo ještě přetrvává.</p>
                
    </div>
</div>
